.achievements{
  width: 50%;
}

.achievement{
  display: flex;
  height: 30px;
  width: 100%;
}

.achievement img{
  width: 30px
}

.achievement .progress{
  width: 100%;
}

.achievement div{
  height: 100%;
}

.tick {
  color: green;
  width: 40px;
  height: 40px;
  font-size: 50px;
  line-height: 0.7;
}

.achievementInfo {
  animation: achievementUnlocked 4s;
  position: fixed;
  width: 400px;
  max-height: 300px;
  bottom: 80vh;
  right: calc(50% - 200px);
}

.achievementInfo p{
  border: solid black;
  padding: 20px;
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

@keyframes achievementUnlocked {
  0%   {top: 0px;}
  25%  {top: 50px;}
  50%  {top: 200px;}
  75%  {top: 50px;}
  100% {top: 0px;}
}

@media only screen and (max-width: 600px) {
  .achievements{
    width: 100%;
  }
}