.achievements{
  width: 50%;
}

.achievement{
  display: flex;
  height: 30px;
  width: 100%;
}

.achievement img{
  width: 30px
}

.achievement .progress{
  width: 100%;
}

.achievement div{
  height: 100%;
}

.tick {
  color: green;
  width: 40px;
  height: 40px;
  font-size: 50px;
  line-height: 0.7;
}
