.app {
  display: flex;
  flex-flow: column;
}

.dashboard{
  display: flex
}

.gameboard {
  display: flex
}

@media only screen and (max-width: 600px) {
  .dashboard{
    flex-flow: column
  }
  .gameboard{
    order: -1
  }
}