.cookie {
  display: flex;
  flex-flow: column;
  width: 70vw;
  border: 1px solid;
  height: 55vh ;
}

.gamebtn {
  margin: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.timer {
  margin: 0 auto;
  font-size: 30px;
}

.cookieButton {
  background: url("../assets/cookie.png");
  background-size: cover;
  width: 280px;
  height: 280px;
  border: none;
  margin: 0 auto;
  cursor: pointer;
}

.cookieButton:hover {
  width: 320px;
  height: 320px;
}

.cookieButton:active {
  width: 350px;
  height: 350px;
  animation: cookie-click 1s;
}

.smallCookie {
  background: url("../assets/cookie.png");
  background-size: contain;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

@keyframes cookie-click {
  0%   {width: 290px; height: 290px;}
  100% {width: 310px; height: 310px;}
}
